@import '../../marketplace.css';

.root {
}

.input {
  border-bottom-color: var(--marketplaceSecondaryColor);
}

.inputSuccess {
  /* border-bottom-color: var(--successColor); */
  border-bottom-color: #1F5DAC;

}

.inputError {
  border-bottom-color: var(--failColor);
}

.textarea {
}
